.btn--circle {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 0 15px;
  cursor: pointer;
  user-select: none;
  transition: $transition-hover;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 22px !important;
  background-color: $highlight;
  box-shadow: 0 5px 10px rgba(0, 167, 227, .3);
  span {
    display: block;
  }
  &:hover {
    color: #fff;
    background-color: #00cbd8;
    box-shadow: 0 5px 10px rgba(0, 167, 227, 0);
  }
}

.index-search__btn {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 340px;
  height: 70px;
  margin: auto;
  padding: 0 15px;
  cursor: pointer;
  user-select: none;
  transition: $transition-hover;
  white-space: nowrap;
  text-decoration: none;
  color: $highlight;
  border: none;
  border-radius: 3px !important;
  background-color: #fff;
  box-shadow: none;

  @include max(767) {
    font-size: 14px;
    line-height: 17px;
    max-width: 250px;
    height: 50px;
  }
  &.hidden {
    transform: scale(0);
    pointer-events: none;
    opacity: 0;
  }

  &:hover {
    color: $highlight;
  }
}
