.menu {
  @include max(1200) {
    width: 100%;
    margin-bottom: 25px;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  @include max(1200) {
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
  }
}

.menu__item {
  padding: 0 24px;
  list-style: none;

  @include max(1200) {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
  }
}

.menu__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include max(1200) {
    flex-direction: row;
    width: 100%;
    max-width: 257px;
    margin: 0 auto;
    padding: 25px;
  }
  &.disabled {
    pointer-events: none;
    .menu__icon {
      opacity: .3;
    }
    .menu__text {
      opacity: .3;

      @include max(1200) {
        color: #fff;
      }
    }
  }
  &:hover {
    .menu__icon {
      fill: #00cbd8;
    }
    .menu__text {
      color: #00cbd8;
    }
  }
}

.menu__icon {
  fill: $highlight;
  width: 24px;
  height: 24px;
  margin-bottom: 9px;
  transition: $transition-hover;

  @include max(1200) {
    width: 48px;
    height: 48px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.menu__text {
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  display: block;
  transition: $transition-hover;
  text-align: center;
  text-transform: uppercase;
  color: $highlight;

  @include max(1200) {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
  }
}

.menu-tooltip {
  position: absolute;
  z-index: 1;
  top: calc(100% + 10px);
  left: 50%;
  width: 210px;
  padding: 15px;
  transition: $transition-hover;
  transform: translateX(-50%);
  text-align: center;
  pointer-events: none;
  opacity: 0;
  border-radius: 3px;
  background-color: #4a4d52;

  @include max(1200) {
    top: 80%;
  }
  &::before {
    position: absolute;
    top: -5px;
    right: 0;
    left: 0;
    width: 0;
    margin: auto;
    content: '';
    border-right: 8px solid transparent;
    border-bottom: 8px solid #4a4d52;
    border-left: 8px solid transparent;
  }
  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
  }
}
