//begin footer
.footer
  .container-lg
    .footer__left
      span ©2008-2020 ООО «ЮНТА».
      span Лицензия №111078 Федеральной службы по надзору в сфере связи.
      span Все права принадлежат правообладателю.
    .footer__right
      a(href="#").footer__right-link Политика конфиденциальности
      a(href="#").footer__right-link Пользовательское соглашение
//end footer