//begin menu
nav.header__menu.menu
  ul.menu__list
    li.menu__item
      a(href='#').menu__link.disabled
        svg.menu__icon
          use(xlink:href="assets/img/sprite.svg#menu-01")
        span.menu__text тарифы
    li.menu__item
      a(href='#').menu__link.disabled
        svg.menu__icon
          use(xlink:href="assets/img/sprite.svg#menu-02")
        span.menu__text акции
    li.menu__item
      a(href='#').menu__link
        svg.menu__icon
          use(xlink:href="assets/img/sprite.svg#menu-03")
        span.menu__text смотрёшка
    li.menu__item
      a(href='#').menu__link
        svg.menu__icon
          use(xlink:href="assets/img/sprite.svg#menu-04")
        span.menu__text помощь
    li.menu__item
      a(href='#').menu__link
        svg.menu__icon
          use(xlink:href="assets/img/sprite.svg#menu-05")
        span.menu__text контакты
//end menu