//begin popup
.popup__layer#popup__layer

.popup.popup-include#popup-include
  .popup__close
    +svg('close')
  .popup__inn
    .popup-include__text
      span Данный адрес пока не подключен к FIBERNET, но вы можете оставить заявку на подключение
    include ../elements/form-sm
//end popup
