*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;
  strong {
    font-weight: 700;
  }
}

a {
  transition: color $transition-hover;
  text-decoration: none;
  color: $link;
  &:hover {
    color: $link-hov;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;

  @include placeholder-color($text);
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  //свойство для плавной прокрутки на яблоках

  -webkit-overflow-scrolling: touch;
  @include max(1023) {
    //свойство для исправления бага 100vh для мобильных
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
  }
  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  position: relative;
  padding-top: 143px;
  padding-bottom: 140px;

  flex-grow: 1;
  @include max(767) {
    padding-top: 100px;
  }
  &::before,
  &::after {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 33%;
    height: 100%;
    content: '';
    pointer-events: none;
    opacity: .2;

    @include max(840) {
      width: 40%;
    }
    @include max(767) {
      width: 50%;
    }
  }
  &::before {
    left: 0;
    opacity: .2;
    background-image: linear-gradient(90deg, #0066c4 0%, rgba(0, 102, 196, 0) 100%);
  }
  &::after {
    right: 0;
    transform: rotate(180deg);
    opacity: .2;
    background-image: linear-gradient(90deg, #00cbd8 0%, rgba(0, 203, 216, 0) 100%);
  }
}

.container-lg {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;

  @include max(500) {
    padding: 0 20px;
  }
}

.container {
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 40px;

  @include max(500) {
    padding: 0 20px;
  }
}

.title {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin-bottom: 28px;
  color: #fff;
}

.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 22px;
  height: 22px;
  border: 1px solid $highlight;
  border-radius: 50%;
  &:hover {
    border: 1px solid #00cbd8;
    background: rgba(0, 203, 216, .1);
    svg {
      fill: #00cbd8;
    }
    .tooltip__text {
      opacity: 1;
    }
  }
  svg {
    fill: $highlight;
    width: 6px;
    height: 10px;
    transition: $transition-hover;
  }
}

.tooltip__text {
  position: absolute;
  bottom: calc(100% + 15px);
  left: 50%;
  width: 230px;
  padding: 15px;
  transition: $transition-hover;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  border-radius: 3px;
  background-color: #979d9d;
  &::before {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 10px;
    margin: auto;
    content: '';
    border-top: 5px solid #979d9d;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    display: block;
    color: #fff;
  }
}

.tooltip__text--center {
  text-align: center;
}
