extends ../_template

block variables
  - var title       = 'Fibernet'
  - var description = ''

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main.index
      .index-particles#index-particles

      .container
        //begin index__hero
        .index__hero
          h1.index__title Fibernet
          h2.index__subtitle Домашняя сеть
        //end index__hero

        //begin index__result
        .index__result.index-result
          .index-result__row
            span.index-result__adress Некрасова, 14д
            a(href="#").index-result__another-adress Проверить другой адрес

          .index-result__btns
            a(href="#").btn-transparent.index-result__btn Тарифы
            a(href="#").btn-transparent.index-result__btn Акции
        //end index__result

      include ../elements/popup
      include ../sections/footer
    //end content

    include ../sections/scripts
    script.
      particlesJS.load('index-particles', 'assets/js/particlesjs-config-index.json', function() {});

    script(src='https://www.google.com/recaptcha/api.js')