extends ../_template

block variables
  - var title       = 'Fibernet'
  - var description = ''

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main.index
      .index-particles#index-particles

      .container
        //begin index__hero
        .index__hero
          h1.index__title Fibernet
          h2.index__subtitle Домашняя сеть
          span.index__deskr Узнайте, есть ли наличие сети «FIBERNET» в вашем регионе
        //end index__hero

        //begin index__search
        .index__search.index-search
          a(href="#").index-search__btn Проверить подключение
          //-form.index-search__form
            .ui-widget.index-search__ui-widget
              label(for="search-adress")
              input#search-adress(value='')
            input.index-search__form-submit(type='submit' value='Найти')
            .index-search__form-clear
          form.index-search__form
            .ui-widget.index-search__ui-widget
              .geo-btn
                +svg('geo')
              label(for='search-adress')
              input#search-adress.ui-autocomplete-input(value='' autocomplete='off' placeholder='Введите адрес')
            input#geo-adress(type='hidden' value='')
            button.index-search__form-submit Найти
            .index-search__form-clear

        //end index__search

      include ../elements/popup
      include ../sections/footer
    //end content

    include ../sections/scripts
    script.
      particlesJS.load('index-particles', 'assets/js/particlesjs-config-index.json', function() {});