extends ../_template

block variables
  - var title       = 'Fibernet'
  - var description = ''

block content
  .main-wrap.no-js
    include ../sections/header

    //begin content
    main.main.index
      .index-particles#index-particles
    //end content

    //include ../sections/footer
    include ../sections/scripts
    script.
      particlesJS.load('index-particles', 'assets/js/particlesjs-config-index.json', function() {});
