.main.index {
  padding-top: 168px;
  &::before {
    opacity: .5;
  }
  &::after {
    opacity: .5;
  }
}

.index {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
  }
}

.index-particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #252525;
}

.index__hero {
  position: relative;
  z-index: 2;
  //margin: 168px auto 0;
  margin: 0 auto;
}

.index__title {
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  @include responsive-font(72, 48);
  @include max(767) {
    margin-bottom: 10px;
  }
}

.index__subtitle {
  font-weight: bold;
  line-height: 1.22;
  margin-bottom: 23px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

  @include responsive-font(20, 18);
  @include max(767) {
    margin-bottom: 14px;
  }
}

.index__deskr {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.19;
  display: block;
  max-width: 350px;
  margin: 0 auto 24px;
  text-align: center;
  color: #fff;
}

//begin #SEARCH
.index-search {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 70px;

  @include max(767) {
    min-height: 50px;
  }
}

.index-search__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0;
  min-width: 340px;
  margin: 0 auto;
  transition: $transition-hover;

  @include max(767) {
    min-width: 250px;
  }
  &.active {
    width: 100%;
  }
}

.geo-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 50px;
  height: 50px;
  margin: auto;
  cursor: pointer;

  @include max(767) {
    left: 5px;
    width: 35px;
    height: 35px;
  }
  svg {
    stroke: #00a7e3;
    width: 50px;
    height: 50px;

    @include max(767) {
      width: 35px;
      height: 35px;
    }
  }
}

.index-search__form-submit {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 35px;
  margin: auto;
  padding: 0 30px;
  cursor: pointer;
  transition: color $transition-hover;
  color: #00a7e3;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #f2f2f2;
  background-color: transparent;

  @include max(767) {
    font-size: 14px;
    line-height: 17px;
    padding: 0 20px;
  }
  &:hover {
    color: #00cbd8;
  }
}

.index-search__form-clear {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 135px;
  bottom: 0;
  width: 24px;
  height: 24px;
  margin: auto;
  cursor: pointer;
  transition: $transition-hover;
  pointer-events: none;
  opacity: 0;

  @include max(767) {
    right: 95px;
  }
  &.active {
    pointer-events: auto;
    opacity: 1;
  }
  &:hover {
    &::before,
    &::after {
      background-color: #4a4d52;
    }
  }
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 17px;
    margin: auto;
    content: '';
    transition: $transition-hover;
    pointer-events: none;
    border-radius: 2px;
    background-color: #a4a6a8;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.index-search__ui-widget {
  position: relative;
  width: 100%;
  &.open {
    &::before {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: calc(100% - 60px);
      height: 1px;
      margin: auto;
      content: '';
      background-color: #f2f2f2;

      @include max(767) {
        width: calc(100% - 40px);
      }
    }
  }
}

.ui-autocomplete-input {
  font-size: 18px !important;
  font-weight: normal;
  line-height: 1;
  overflow: hidden;
  width: 100%;
  min-height: 70px;
  margin: 0 auto;
  padding: 1px 170px 0 60px;
  transition: $transition-hover;
  color: #4a4d52;
  border: 1px solid #f2f2f2;
  border-radius: 3px !important;
  background-color: #fff;
  //background-image: url('../img/input-marker.svg');
  //background-repeat: no-repeat;
  //background-position: 33px 50%;
  //background-size: 17px 18px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .05);

  @include placeholder-color(#a4a6a8);
  @include max(767) {
    font-size: 14px !important;
    line-height: 17px;
    min-height: 50px;
    padding: 0 130px 0 40px;
    //background-position: 13px 50%;
  }
  &.open {
    border-bottom: none;
    border-radius: 3px 3px 0 0 !important;
  }
}

.codyshop-ajax-search,
.ui-widget.ui-widget-content.search-adress-list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 205px;
  border-top: none;
  border-right: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-radius: 0 0 3px 3px;

  @include max(767) {
    max-height: 130px;
  }
  li,
  .ui-menu-item {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    padding: 20px 20px 20px 52px;
    transition: $transition-hover;
    background-color: #fff;

    @include max(767) {
      font-size: 14px;
      line-height: 17px;
      padding: 10px 10px 10px 35px;
    }
    span,
    .ui-menu-item-wrapper {
      margin: 0 !important;
      transition: $transition-hover;
      color: #4a4d52;
      border: none !important;
      background-color: transparent !important;
    }
    &:hover {
      span,
      .ui-menu-item-wrapper {
        line-height: 22px;
        transition-delay: 0s;
        color: $highlight !important;

        @include max(767) {
          line-height: 17px;
        }
        &:hover {
          line-height: 22px;
          margin: 0;
          color: $highlight !important;

          @include max(767) {
            line-height: 17px;
          }
        }
      }
    }

    &:nth-child(even) {
      background-color: #f9f9f9;
    }
  }
}

//end #SEARCH

//begin #RESULT
.index-result {
  width: 100%;
}

.index-result__row {
  display: flex;
  justify-content: flex-end;
  max-width: 700px;
  margin: 0 auto 50px;
  padding-top: 40px;

  @include max(767) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 20px;
    padding-top: 10px;
  }
}

.index-result__adress {
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  display: block;
  max-width: 50%;
  min-height: 23px;
  padding-top: 2px;
  padding-right: 12px;
  padding-left: 33px;
  color: #fff;
  background-image: url('../img/circle-check.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 23px 23px;

  @include max(767) {
    max-width: 100%;
  }
}

.index-result__another-adress {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  width: 50%;
  padding-top: 5px;
  padding-left: 12px;
  text-decoration: none;
  color: #00a7e3;

  @include max(767) {
    width: auto;
  }
  &:hover {
    text-decoration: underline;
    color: #00a7e3;
  }
}

.index-result__btns {
  display: flex;
  justify-content: center;
  align-items: center;

  @include max(767) {
    flex-direction: column;
  }
}

.index-result__btn {
  width: 100%;
  max-width: 194px;
  margin: 0 10px 10px 10px;
}

//end #RESULT

//begin #NORESULT
.index-noresult {
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    fill: #fff;
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
  }
}

.index-noresult__text {
  font-size: 16px;
  font-weight: normal;
  line-height: 19px;
  max-width: 460px;
  margin-bottom: 30px;
  text-align: center;
  color: #fff;
}

.index-noresult__btns {
  width: 100%;
  margin-bottom: 35px;
}

.index-noresult__btn {
  width: 100%;
  max-width: 260px;
  margin: 0 auto;
}

//end #NORESULT
.index-search__btn {
  &.shake {
    animation: btnShake 1.5s ease-in-out 0s normal none infinite running;
  }
}

@keyframes btnShake {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-.8deg);
  }
  10% {
    transform: rotate(.8deg);
  }
  15% {
    transform: rotate(-.8deg);
  }
  20% {
    transform: rotate(.8deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
