.main.index {
  &::before {
    opacity: .5;
  }
  &::after {
    opacity: .5;
  }
}

.index-particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-color: #252525;
}
